body {
    text-align: center;
    padding-bottom: 85px;
}

svg {
    width: 100%;
    max-width: 815px;
    height: 100%;
}

#instructions {
    width: 100%;
    height: 48px;
}

#instructions-container {
    width: 100%;
    max-width: 815px;
    margin: auto;
}

#error-message {
    color: red;
}

.error {
    background-color: rgb(255, 228, 228);
}

#git-hub {
    margin-top: 12px;
    display: block;
    text-decoration: none;
}
